body, html{
    height: 100%;
    width: 100%;
}

.main-container{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > .login,
.main-container > .hero-body{
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 400px;
}